
#background
{
    width:1024px;
    height:640px;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    background-image: url("wallpaper.jpg");

}
#window
{
    height:400px;
    width:299px;
    background-color:navajowhite;
    position:fixed;
    top:105px;
    overflow-y: scroll;
    margin: 0 auto;
    padding-left:2px;
    padding-right:2px;
}
#container
{
    display: inline-block;
    margin-left:2px;
    margin-right:2px;
    margin-top:2px;
    margin-bottom:2px;
    background-color:rosybrown;
    padding:5px 5px 5px 5px;
    border:1px;
    border-radius: 4px;
}
#closeIcon
{
    height:20px;
    width:20px;
    background-image: url("close.png");
    background-size: 22px 22px;
    background-repeat:no-repeat;


    float:right;
}
#border
{
    height:490px;
    width:305px;
    background-color:darksalmon;
    position:absolute;
    top:39px;
    left:10px;
    padding-right:2px;
    padding-left:2px;
    border:1px;
    border-radius: 4px;
    background-image: url("folder.png");
    background-size: 25px 25px;
    background-repeat:no-repeat;
    text-align:center;
    float:left;
    line-height:2.5;
}
#statusbar
{
    position:absolute;
    bottom:0;
    left:0;
    width:30px;
    height:31px;
    margin-left:2px;
}

#gif
{
    margin-right:50%;
    margin-left:50%;
    margin-top:50%;
}
#menubar
{
    height:60px;
    width:1024px;
    position:absolute;
    bottom:0;
    border-top: 3px solid black;
    background-color:lightsteelblue;
}
#icon
{
    margin-left:5px;
    padding-bottom:5px;
    height:75%;
    width:50px;
}
#icon:hover
{
    height:100%;
    width:60px;
}
#thumbnail
{
    display:block;
    margin:0 auto;
}