
#background
{
    width:1024px;
    height:640px;
    background-color:navajowhite;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}
#window
{
    height:400px;
    width:299px;
    background-color:lightblue;
    position:fixed;
    top:105px;
    overflow: scroll;
    margin: 0 auto;
    padding-left:2px;
    padding-right:2px;
    padding-bottom:5px;
}
#container
{
    display: inline-block;
    margin-left:2px;
    margin-right:2px;
    margin-top:2px;
    margin-bottom:2px;
    background-color:indianred;
    padding:5px 5px 5px 5px;
    border:1px;
    border-radius: 4px;
}
#closeIcon
{
    height:20px;
    width:20px;
    background-color:black;
    float:right;
}
#border
{
    height:470px;
    width:310px;
    background-color:dodgerblue;
    position:absolute;
    top:45px;
    left:10px;
    padding-right:2px;
    padding-left:2px;
    border:1px;
    border-radius: 4px;
}
#gif
{
    margin-right:50%;
    margin-left:50%;
    margin-top:50%;
}
#menubar
{
    height:60px;
    width:1024px;
    background-color:black;
    position:absolute;
    bottom:0;
}
#icon
{
    height:75%;
    width:50px;
    background-color:red;
}
#icon:hover
{
    background-color:darkred;
    height:100%;
    width:60px;
}
#thumbnail
{
    display:block;
    margin:0 auto;
}body
{
    width:1024px;
    height:640px;
}

#background
{
    width:1024px;
    height:640px;
    background-color:deepskyblue;

}
.background-change
{

    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -webkit-transition: opacity 1.5s ease-in-out;
    width:1024px;
    height:640px;
    background-color:deepskyblue;
}
#icon
{
    height:50px;
    width:50px;
    background-color:red;
}
#icon:hover
{
    background-color:darkred;
    height:60px;
    width:60px;
}

#window
{
    height:400px;
    width:300px;
    background-color:red;
    position:fixed;
    top:75px;
    overflow: scroll;
}
#thumbnail
{

}
#container
{
    display: inline-block;
    height:50px;

    width:75px;
    margin:7px 7px 7px 7px;
    background-color:blue;


}