main
{
    background-color: #b3b3b3;
    width:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
body
{
    background-image: url("background.jpg");
    background-size:100% 1500px;
    background-repeat:no-repeat;
}
header
{
  background-image: url('labbymezzage.jpg');
  background-repeat:no-repeat;
    height:100px;
    width:660px;
    position:relative;
    left:490px;
    top:9px;
}

#textarea
{
    margin-left:45px;
    word-break:break-all;
}
header
{
    font-size:150%;
    font-weight:bold;
    text-align:center;
}
#messagearea
{
    flex-direction:column-reverse;
    font-size:120%;
    background-color: #87CEEB; 
    border-style:solid;
    border-width:1px;
    word-break: break-all;
    overflow-y:scroll;
    word-wrap:break-word;
    max-height:100%;
    max-width:834px;
    min-width:100%;
    min-height:100px;

}

#dustbin
{
   float:right;
    min-height:25px;
    min-width:25px;
    max-height:25px;
    max-width:25px;
    
}

#clock
{
    float:right;

    min-height:25px;
    min-width:25px;
    max-height:25px;
    max-width:25px;
    
}

#time
{
      line-height:0;
    text-align:right;    
    font-size:80%;
    min-height:100%;
    max-height:100%;
}
#text
{
    top:15px;
    background-color:#008B8B;
    word-break:break-all;
    max-height:100%;
    
}
