

#memoryTable
{
	background:#CCC;
	border:#999 1px solid;
	width:250px;
	height:260px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	margin:0px auto;
	float:none;
}

img
{
    height:60px;
    width:60px;
    padding:1px 1px 1px 1px;
}
#backtile
{
	height:50px;
	width:50px;
	background-color:red;
}
#resultDiv
{
	float:left;
	background-color:Green;
	font-size:150%;
	font-weight:bold;
	margin:0px auto;
}